page-login {
    *{
        font-family: '幼圆';
    }
    ion-title{
        width: 32rem;
        float: right;
    }
    .toolbar-title{
        font-weight: 300;
        font-size: 1.9rem;
    }
    ion-content{
        background-size: 100%;
        background-image: url(../../assets/imgs/loginBanner.png);
    }
   
    //去除ion-item下边框
    .item-inner{
        border:none !important;
    }
    
    //logo
    .login-logo{
        width: 26rem;
        height: 22rem;
        margin: 0 auto;
    }
    .login-logo img{
        width: 15rem;
        margin-left: 5rem;
        margin-bottom: 3rem;
    }
    .login-logo p{
        text-align: center;
    }
    .login-form{
        width: 35rem;
        height: 28rem;
        margin: 0 auto;
        margin-top: 2rem;
        position: relative;
    }
    .login-form ion-list{
        width: 32rem;
        height: 28rem;
        margin-left: 3rem;
    }
    .login-head{
        position: absolute;
        left: 3.5rem;
        top: 0.5rem;
    }
    .login-pwd{
        position: absolute;
        left: 3.5rem;
        top: 4.8rem;
    }
    .login-login{
        border: 1px solid #fedb47;
        width: 23rem;
        height: 4rem !important;
        border-radius: 5rem;
    }
    ion-list ion-item p{
        padding-left: 9rem;
    }
    ion-input{
        font-size: 1.4rem;
        border-bottom:solid 1px white;
    }
    .text-input-md{
        margin: 8px 5px !important;
    }
    .forget-pwd:hover{
        cursor: pointer;
        color: #fedb47;
    }
}
