.ion-ios-discover:before { content: url("../assets/fonts/discover.svg");}
.ion-ios-arrowLeft:before { content: url("../assets/fonts/arrowLeft.svg");}




// home页
.tab-button[aria-selected=false] .ion-ios-indexIcon-outline:before { content: url("../assets/fonts/indexBlack.svg"); }
.tab-button[aria-selected=false] .ion-ios-messageIcon-outline:before { content: url("../assets/fonts/messageBlack.svg"); }
.tab-button[aria-selected=false] .ion-ios-publicIcon-outline:before { content: url("../assets/fonts/publicBlack.svg"); }
.tab-button[aria-selected=false] .ion-ios-discoverIcon-outline:before { content: url("../assets/fonts/discoverBlack.svg"); }
.tab-button[aria-selected=false] .ion-ios-mineIcon-outline:before { content: url("../assets/fonts/mineBlack.svg"); }

.tab-button[aria-selected=true] .ion-ios-indexIcon-outline:before { content: url("../assets/fonts/indexYel.svg"); }
.tab-button[aria-selected=true] .ion-ios-messageIcon-outline:before { content: url("../assets/fonts/messageYel.svg"); }
.tab-button[aria-selected=true] .ion-ios-publicIcon-outline:before { content: url("../assets/fonts/publicYel.svg"); }
.tab-button[aria-selected=true] .ion-ios-discoverIcon-outline:before { content: url("../assets/fonts/discoverYel.svg"); }
.tab-button[aria-selected=true] .ion-ios-mineIcon-outline:before { content: url("../assets/fonts/mineYel.svg"); }

.ion-ios-discoverGray:before { content: url("../assets/fonts/discoverGray.svg");}



 //login页
.ion-ios-loginHead:before { content: url("../assets/fonts/loginHead.svg");}
.ion-ios-loginPwd:before { content: url("../assets/fonts/loginPwd.svg");}

//register页
.ion-ios-registerPhone:before { content: url("../assets/fonts/registerPhone.svg");}
.ion-ios-registerCheck:before { content: url("../assets/fonts/registerCheck.svg");}
.ion-ios-registerPwd:before { content: url("../assets/fonts/registerPwd.svg");}

//agreement页
.ion-ios-arrowLeftBlack:before { content: url("../assets/fonts/arrowLeftBlack.svg");}




//android
.ion-md-discover:before { content: url("../assets/fonts/discover.svg");}
.ion-md-arrowLeft:before { content: url("../assets/fonts/arrowLeft.svg");}




// home页
.tab-button[aria-selected=false] .ion-md-indexIcon-outline:before { content: url("../assets/fonts/indexBlack.svg"); }
.tab-button[aria-selected=false] .ion-md-messageIcon-outline:before { content: url("../assets/fonts/messageBlack.svg"); }
.tab-button[aria-selected=false] .ion-md-publicIcon-outline:before { content: url("../assets/fonts/publicBlack.svg"); }
.tab-button[aria-selected=false] .ion-md-discoverIcon-outline:before { content: url("../assets/fonts/discoverBlack.svg"); }
.tab-button[aria-selected=false] .ion-md-mineIcon-outline:before { content: url("../assets/fonts/mineBlack.svg"); }

.tab-button[aria-selected=true] .ion-md-indexIcon-outline:before { content: url("../assets/fonts/indexYel.svg"); }
.tab-button[aria-selected=true] .ion-md-messageIcon-outline:before { content: url("../assets/fonts/messageYel.svg"); }
.tab-button[aria-selected=true] .ion-md-publicIcon-outline:before { content: url("../assets/fonts/publicYel.svg"); }
.tab-button[aria-selected=true] .ion-md-discoverIcon-outline:before { content: url("../assets/fonts/discoverYel.svg"); }
.tab-button[aria-selected=true] .ion-md-mineIcon-outline:before { content: url("../assets/fonts/mineYel.svg"); }

.ion-md-discoverGray:before { content: url("../assets/fonts/discoverGray.svg");}



 //login页
.ion-md-loginHead:before { content: url("../assets/fonts/loginHead.svg");}
.ion-md-loginPwd:before { content: url("../assets/fonts/loginPwd.svg");}

//register页
.ion-md-registerPhone:before { content: url("../assets/fonts/registerPhone.svg");}
.ion-md-registerCheck:before { content: url("../assets/fonts/registerCheck.svg");}
.ion-md-registerPwd:before { content: url("../assets/fonts/registerPwd.svg");}

//agreement页
.ion-md-arrowLeftBlack:before { content: url("../assets/fonts/arrowLeftBlack.svg");}

//publishInfo
.ion-md-arrowRightBlack:before { content: url("../assets/fonts/arrowRightBlack.svg");}
.ion-md-yuyin:before { content: url("../assets/fonts/yuyin.svg");}
.ion-md-img:before { content: url("../assets/fonts/img.svg");}
.ion-md-arrowRightB:before { content: url("../assets/fonts/arrowRightB.svg");}


.ion-md-face:before { content: url("../assets/fonts/face.svg");}
.ion-md-add:before { content: url("../assets/fonts/add.svg");}
.ion-md-yuyin2:before { content: url("../assets/fonts/yuyin2.svg");}


